/*
Child Theme SCSS
*/

// Font Variables:
$font_display: serif !default;
$font_body: sans-serif !default;

// Color Variables
$bg: #fff !default;
$text: #000 !default;
$link_accent: #000 !default;
$button: #000 !default;
$button_border: 1px solid #666 !default;
$button_text: #fff !default;
$nav_accent: #000 !default;

// Colors
body {background:$bg;}

// Fonts
body {
	font-family:$font_body; line-height:2;
	@include breakpoint(s) {line-height:1.6;}
}
h1, h2, h3 {font-family:$font_display; font-weight:400;}
.column, .wp-block-column {
	text-align:justify;
	h1, h2, h3 {text-align:left;}
}

// Shadows
@mixin section_shadow {@include box-shadow(0px 0px 15px rgba(0,0,0,0.6)); }

// Reusable Elements ======================================================
@mixin button {
	display:block; box-sizing:border-box; padding:10px 20px;
	background:$button; color:$button_text; border:$button_border;
	line-height:1.2; text-align:center; 
	&:hover {
		@include box-shadow(0px 0px 4px rgba(0,0,0,0.16));
	}
}
.button {@include button;}

@mixin link {
	border-bottom:1px solid $link;
}

.social {
	font-size:32px;
	a {
		display:inline-block; margin:0px 6px; border:0px;
		&:first-child {margin-left:0px;}
		&:last-child {margin-right:0px;}
	}
}

// Basic Layout Styles ===================================================
header {
	position:relative; padding:24px 0px; @include section_shadow;

	// Logo
	.logo {
		display:inline-block;
		img {
			height:100px; margin-bottom:-8px;
			@include breakpoint(s) {height:85px;}
		}
	}

	// Navigation
	.navigation {

		// Desktop navigation
		@include breakpoint(notTouch) {
			position:relative; display:inline-block; float:right; text-align:right; margin-top:70px;
			line-height:1; 
			
			> ul > li {
				margin-left:24px; padding-bottom:13px;
				&.current-menu-item, &.current-menu-parent {
					border-bottom:3px solid $nav_accent; padding-bottom:8px;
				}
				&.current-menu-item, &.current-menu-parent {
					color:$nav_accent;
				}
			}
			ul.sub-menu {
				background:white; border-top:3px solid $nav_accent; padding:5px 0px;
				@include box-shadow(0px 3px 8px rgba(0,0,0,0.3)); margin-top:-5px;
				width:200px; left:50%; margin-left:-100px; text-align:center;
				li {
					padding:10px 0px;
					a {display:block;}
					&:hover {background:#eee; color:$nav_hover;}
				}
			}
		}
	}
}

// Page Header
.page-header {
	padding:25px 0px; text-align:center;
	background-size:100%; background-size:cover; background-position:center center;
}

// Content
.content {
	padding:50px 0px;
	@include breakpoint(m) {padding:30px 0px;}
	
	// Gutenberg buttons to theme buttons
	.wp-block-button__link {@include border-radius(0px); @include button;}
}

// Contact Section & Footer
footer, .contact-section {
	.widgettitle {display:none;}
	h2 {margin-bottom:20px; line-height:1.2;}
}

// Contact Section
.contact-section {
	@include vertical-pad;

	form {
		.columns {
			margin-bottom:-10px;
			.column {
				margin-bottom:10px !important; text-align:left;
			}
		}
		input, textarea {
			border:$form_accent; padding:2px 8px; line-height:1.5;
		}
		label {
			display:block; font-size:13px;
		}
		input[type=submit] {
			@include button; width:auto; margin:12px 0px 0px auto; min-width:150px;
		}
		p {position:relative; margin-bottom:0px;}
		.ajax-loader {position:absolute; top:0px; left:0px;}
	}
}

// Footer
footer {
	position:relative; z-index:10; @include vertical-pad; @include section_shadow;

	// Desktop style: flex columns
	@include breakpoint(notTouch) {
		.container {display:flex;}
		.footercol {
			flex:1; min-width:200px; margin:0px 15px;
			&:first-child {margin-left:0px;}
			&:last-child {margin-right:0px;}
		}
	}

	// Tablet style: first full width, remaining 50%
	@include breakpoint(m-only) {
		.container {display:block;}
		.footercol {
			display:inline-block; vertical-align:top;
			&:first-child {width:100%; text-align:center;}
			&:nth-child(2), &:nth-child(3) {
				width:50%; margin:$padding_ 0px 0px;
			}
			&:nth-child(2) {padding-right:10px;}
			&:nth-child(3) {padding-left:10px;}
		}
	}

	@include breakpoint(s) {
		.footercol {
			display:block; width:100%; text-align:center; margin-top:$padding_;
			&:first-child {margin-top:0px;}
		}
	}
}

// Copyright Message
.copyright {
	padding:10px; font-size:14px; text-align:center;
	a {@include link;}
}

// Page Elements ========================================================

// Diller Slider: basic styles for slider
.diller-slider {
	.slick-arrow {
		position:absolute; top:50%; margin-top:-15px; width:30px; height:30px;
		background-size:100% 100%; cursor:pointer; z-index:100;
		@include breakpoint(s) {visibility:hidden;}
	}
	.slick-prev {left:30px; background-image:url("../../images/arrow-prev.png");}
	.slick-next {right:30px; background-image:url("../../images/arrow-next.png");}
}

// Front Page Gallery Slider
.front-page-gallery-slider {

	// Background Settings
	background-size:auto 100%; background-size:cover; background-position:center center;

	// Sizing Settings
	height:400px; 
	@include breakpoint(m) {height:320px;}
	@include breakpoint(s) {height:240px;}

	// Container Settings
	.slides {height:100%; width:100%;}
	.slick-list, .slick-track {height:100%; width:100%;}

	// Slide Settings
	.slide {
		height:100%; text-align:center; padding:40px 0px;
		@include breakpoint(m) {padding:30px 0px;}
		@include breakpoint(s) {padding:0px;}
		img {
			display:inline-block; height:100%; margin:0px 10px; box-sizing:border-box;
			border:8px solid white; @include box-shadow(0px 0px 12px rgba(0,0,0,0.7));
		}
	}
	
	// Mobile Settings
	@include breakpoint(s) {
		.slide {
			display:flex !important; justify-content:center; align-items:center; overflow:hidden; width:100%;
			img {
				margin:0px; border:0px; @include box-shadow(none); object-fit:cover;
				flex-shrink:0; min-width:100%; min-height:100%; max-width:10000px;
			}
			img:nth-child(2), img:nth-child(3) {display:none;}
		}
	}
}

// Front Page Buttons
.front-page-buttons {
	display:flex; color:white;
	a {flex:1; text-align:center; padding:15px 0px;}
	@include breakpoint(s) {
		display:block;
		a {display:block;}
	}
}

// Front Page Content
.content.front-page.gutenberg {
	.wp-block-columns.has-2-columns {
		position:relative;
		.wp-block-column {
			&:first-child {margin-right:30px;}
			&:last-child {margin-left:30px;}
			@include breakpoint(s) {
				&:first-child {margin-right:0px;}
				&:last-child {margin-left:0px;}
			}
		}
		&:after {
			content:""; position:absolute; height:100%; top:0px; left:50%;
			border-left:1px solid #666;
			@include breakpoint(s) {display:none;}
		}
	}
}